#section_one {
  background-image: url("../images/background_one.png");
  height: 100%;
  width: 100%;
}

#section_two {
  background-image: url("../images/background_two.png");
  height: 100%;
  width: 100%;
}

#section_three {
  background-image: url("../images/background_three.jpg");
  height: 100%;
  width: 100%;
}

#section_four {
  background-image: url("../images/background_four.jpg");
  height: 100%;
  width: 100%;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #ffffff;
  font-size: 60px;
  margin-top: 200px;
}

p {
  font-family: 'Lobster', cursive;
  color: #ffffff;
  font-size: 24px;
  margin-top: -48px;
}